/*import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Gugi|Lato|Roboto|Sofia&display=swap');


:root{
    --background-color: #080a0a;
    --dark-grey: #252424;
    --orange: #f37123;
    --dark-orange: #f05425;
    --text-color: #d3d3d3;
    --border: #080a0a;
    --roboto: Roboto, sans-serif;
    --advent: Advent, sans-serif;
    --gugi: Gugi, cursive;
    --sofia: Sofia, cursive;
}
body{
    background-color: var(--background-color);
}

.primary-color{
    color: var(--orange);
}

.bg-primary-color{
    background-color: var(--background-color) !important;
}

.text-color{
    color: var(--text-color);
}

.font-roboto{
    font-family: var(--roboto);
}

/*header*/
header{
    background-color: var(--background-color);
    font-family: var(--roboto);
}

h1.site-title{
    font-family: var(--gugi);
}

.container.dropdown-toggle,
.container.dropdown-item{
    font-size: 0.7em;
}

.header-links a{
    font-size: 0.9em;
    text-decoration: none;
    color: white;
}

/*Navigation menu*/
.navbar-nav{
    padding: 0.8em 0em;
}

.navbar-nav .nav-link{
    font-size: 1.1em;
    color: var(--text-color);
}

.navbar-nav .nav-link{
    padding: 0em 1em;
}

.nav-item{
    padding: 0em 1em;
}

.navbar-nav .basket-icon{
    margin-right: 5.5rem !important;
}

/*slick dots*/

.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 48%;
}

.slick-dots li{
    margin: 0 0.6rem;
}

.slick-dots button{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border: none;
    background-color: white;
    text-indent: -99999px;
    border-radius: 100%;
}

.slick-dots li.slick-active button{
    transform: scale(2.5);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.205);
}